*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: white;
    
}

html{
    font-size: 100%;
}
body{
    background-color:#02012B ;
}
.navbar{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
    margin-top: 5vh;
}
.navbar select{
        background-color: #2F2F4B;
    padding: 5px;
    border-radius: 8px;
    padding-left: 25px;
    background: url("https://img.icons8.com/?size=100&id=84040&format=png&color=FFFFFF") no-repeat left;
    background-size: 20px;
    background-position-x: 5px;
    background-color: #252541;
}
.first{
    display: flex;
        align-items: center;

}
.content{
position: relative;
width: 90%;
margin: auto;
margin-bottom: 25vh;
}
.hero{
    text-align: center;
    line-height: 2;
    margin-bottom: 1rem;
}
.hero h2{
    font-size: 2rem;
}
.hero button{
    background-color: #4657DA;
    padding: 10px;
    border-radius: 8px;
    margin-left: 0.5rem;
    border: 0;
}
.hero input{
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    margin-right: 0.5rem;
    padding-left: 25px;
    background: url("https://img.icons8.com/?size=100&id=132&format=png&color=FFFFFF") no-repeat left;
    background-size: 20px;
    background-position-x: 5px;
    background-color: #252541;
}
.hero input:focus{
    border: 0;
}
.weather{

    width: 70%;
    position: relative;
    display: inline-block;
    padding-top: 10px;
    
}
.weather-info{
        border-radius: 15px;

      background-image: linear-gradient(to right, #4451D4 , #2F209F);
    padding: 50px 10px;
}
.degree-now{
    position: absolute;
    right: 10px;
    font-size: 40px;
    font-weight: 600;
    top: 60px;

}
.Logo {
    display: flex;
        align-items: center;
}


h1{
    display: inline;
    font-size: 1rem;
}
.hourly-forecast{
    width: 27%;
    background-color: #252541;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 15px;
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.hourly-forecast ul{
    list-style: none;
    padding: 15px;
    overflow-y: scroll;
        height: 63vh;
}
.hourly-forecast li{
    background-color: #2F2F4B;
    margin-top: 6px;
    padding: 16px;
    border-radius: 9px;
        border: solid 0.2px #5f6695 ;
    display: flex;
        justify-content: space-between;
}
.hour-items{
    position: relative;
    height: 70vh;
    
}
.header-hour{
    padding: 15px 10px 0;
        display: flex;
        justify-content: space-between;
}

.hour-items select{
    width: 35%;
        background-color: #2F2F4B;
    padding: 5px;
    border-radius: 8px;
}
.hour{
  display: inline;  
}
.card{
    background-color: #252541;
    height: 100px;
    width: 20%;
    padding: 20px;
    position: relative;
    border-radius: 15px;
    font-size: 1VW;
    border: solid 0.2px #4657DA ;
}
.properties{
    display: flex;
        justify-content: space-between;
    margin-top: 15px;
}
.card span{
    position: absolute;
    bottom: 20px;
    left: 18px;
    font-size: 3VW;
}
.daily-forecast{
    margin-top: 32px;
    width: 70%;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    padding: 0 10PX;
    flex-wrap: wrap;
}

.weeks{
    height: 25VH;
    background-color: #252541;
    width: 5rem;
    position: relative;
    border-radius: 15px;
    padding: 8px;
        border: solid 0.2px #4657DA ;

}
.week-day{
    text-align: center;
}
.maxTemp{
    position: absolute;
    bottom: 8px;
}
.minTemp{
    position: absolute;
    bottom: 8px;
    right: 8px;
}
.daily-forecast p{
    margin-bottom: 15px;
} 
